@import "bootstrap/dist/css/bootstrap.min.css";
body {
    background-image: url('/images/best1.png'); /* Remplacez "example.jpg" par le nom de votre image */
    background-size: cover; /* Assure que l'image couvre toute la zone */
    background-position: center center; /* Centre l'image dans la fenêtre */
    background-attachment: fixed; /* L'image reste fixe lors du défilement */
    height: 100vh;
    margin: 0;
}
